body{
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6fMdQncm-D87tgbdw58WCnWSBAos9ce-XsA&s);
}
p{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}