td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
.red{
    background-color: red;
}
.blue{
    background-color: greenyellow;
}
.purpl{
    background-color: blueviolet;
}
table{
    position: absolute;
    height: 100%;
    width: 100%;
}
